body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: var(--secondary);
}

.header {
  padding: var(--spacing);
  background: var(--primary);
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  color: white;
  margin-left: 16px;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: var(--spacing);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--spacing);
}

.section {
  padding: 60px 0;
}
.hero-layout {
  display: flex;
  align-items: center;
  gap: 32px;
}

.about-layout {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-evenly;
}

.about-image {
  flex: 0 0 320px;
 
}

.about-image img {
  width: 100%;
  border-radius: var(--radius);
  height: 400px;
}

.about-content {
  max-width: 500px;
  text-align: left;
}

@media (max-width: 768px) {
  .hero-layout {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    max-height: 300px;
  }

  .about-layout {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    flex: none;
    width: 100%;
    max-width: 300px;
  }
}